body{
    background: #333;
    font-family: monospace;
    color: white;
}
div{
    width: 150px;
	height: 100px;
	
	position: absolute;
	top:0;
	bottom: 90%;
	left: 0;
	right: 0;
    margin: auto;
}
p{
	text-align: center;
	margin-right: 70px;
	margin-top: 50px;
	animation: fadeIn ease 2s;
}

 @keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }