body{
    background: #333;
    font-family: monospace;
    color: white;
}
div{
    width: 150px;
	height: 100px;
	
	position: absolute;
	top:0;
	bottom: 90%;
	left: 0;
	right: 0;
    margin: auto;
}