body {
  font-family: monospace;
  text-align: center;
  background-color: #141415;
  color: white;
  font-size: 15px;
}
ul {
  padding: 0px;
  list-style: none;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
}
a {
  color: white;
}
.x {
  text-decoration: none;
}
