body {
    background-color: black;
    font: 1.3rem Inconsolata, monospace;
    font-size: 20px;
    color: white;
}
#terminal{
    visibility: hidden;
}
#matthijs{
    visibility: hidden;
}
.projects{
    margin-top: 0px;
    margin-left: 200px;
}
